.home-container {
    text-align: center;
    padding: 20px;
    background-color: #100f0f;
}

.home-container h1 {
    color: #f5e90a; /* NSBM color theme */
}

.home-container p {
    color: #ffffff;
    max-width: 600px;
    margin: 20px auto;
}

.user-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
